

@import url('../css/fonts.css');


/*     

    body{
         
        background: #41cbd3; 
    }


    .bg-img-1{
        position: absolute;
        left:0;
        top: 2px;
        background-color: white;
        width: 90%;

    }

    body .bg-img-1 img{
        width: 800px;
        height: 800px;
        position: absolute;
        left: 0;
        top: 0;
        
    } */

    body{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: left -4vw top -30vh, right -3vw bottom -50vh;
    background-size: 100vh;
    margin: 0 auto;
    padding: 0;
    background-color: darkcyan;
    /* color: var(--dark-desatblue);
    background-color: var(--dark-cyan); */
    }

    body .bg-img-2 img{
        width: 500px;
        height: 500px;
        position: absolute;
        right: 0;
        bottom: 0;
    }

   
    .floating-box {
        display: inline-block;
        width: 55%;
        height: 40rem;
        
        margin: 11rem 0rem 0rem 18rem;
        border: 3px ;
        border-radius: 20px;
        background: rgb(254, 255, 255);
        box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    }
     .card-header-cus{
        
        height:35%;
        max-width: 100%;
        border-radius:20px 20px  0px 0px;
        background: url("../images/bg-pattern-card.svg");
    }
    .card-1 .card-header-cus img{
        height: 200px;
        width: 200px;
        margin: 20% 25% 25% 33%;
        margin-bottom: 100px;
        display: inline-block;
        /* padding:10.5em 15em; */
        border-radius: 50%;
        border: .8rem solid  white;        
    }
    .card-1 .card-header-cus img:hover{
        filter:brightness(1.4) drop-shadow(1px 8px 30px #b1afaf);
        transition:box-shadow .7s ease; 
        animation: bounce 0.5s;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
        animation: iteration count 8px;
        /* animation-iteration-count: infinite; */

    }

    @keyframes bounce {
        from {
            transform: translate3d(0, 0, 0);
        }
        to {
            transform: translate3d(0, 30px, 0);
        }
    }

    .card-body-3{
        padding-top: 20%;
        padding-left: 3%;
        background: rgb(255, 255, 255);
        height: 35%;
    }
    .card-body-3{
        text-align:center ;
    }

     .card-body-3 h3 span{
        color: rgb(79, 80, 80);
    }
    hr{

    padding: 0px;
    }
     .footer-card-2{
        height: 30%;
        margin-top: 0rem;
        border-top: grey;
        
    }
   
    .footer-card-2 .status{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    font-family: roboto;
    margin-left: 15%;
    padding-top: 20px;

    }

    .footer-card-2 .status-text{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    color:rgba(207, 204, 204, 0.863);
    margin-left: 15%;

    }

    
    .attribution{
        margin-top: 5%;
        font-size: 11px; text-align: center;
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }